//Variables de colores
ion-toolbar {
  --background: #D9D9D9;
  --color: rgb(0, 0, 0);
}
footer {
  --ion-color-footer: #D9D9D9;
}

.header{
  text-align: center; 
}
img{
  width: 12%;
}
.container{
  justify-items: center;
  width: 100%;
  padding: 189px;
}
/*Botones*/
//boton de enlace a login
.button{
  border-radius: 6px;
  
  height: 30px;
  width: 200%;
  color: #ffffff;
}
.button:hover{
  background-color: #D9D9D9;
  color: black;
  cursor: pointer;
}
.button:active{
  background-color: rgb(86, 11, 11);
  color: #fff;
}
//Boton de comentarios
.btn{
  width: 30%;
  border-radius: 4px;
  height: 30px;
}
.btn:hover{
  background-color: #989393;
}
footer{
  background: var(--ion-color-footer);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.sec{
  flex-grow: 1;
  flex-basis: 200;
 margin-left: 2%;
  width: 30%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.der{
padding: 30px;
}
.text{
  justify-content: center;
  text-align: center;
}
input{
  border-radius: 5px;
  background-color: rgba(94, 94, 94, 0.178);
  padding: 5px;
  border: none;
}
.icon{
  margin: 10px;
  color: #000;
  width: 30px;
  height: 30px;
}
